
body {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}

/* Mobile first - alle Dokument-Blöcke bekommen 100% Breite */

body {
	max-width: 30em;
}

header,
nav,
nav a,
article,
section,
aside,
footer {
	border-radius: 0px 0.5em 0.5em;
	border: 1px solid;
	padding: 10px;
	margin: 10px;
	-webkit-flex: 1 100%;
	flex: 1 100%;
}

header {
	background: #F1F3F4;
	border-color: #d5d5d5;
	display: -webkit-flex;
	-webkit-flex-flow: row wrap;
	display: flex;
	flex-flow: row wrap;
}

header * {
	-webkit-flex: 1 1 0%;
	flex: 1 1 0%;
}

header img {
	-webkit-flex: 0 0 150px;
	flex: 0 0 150px;
	margin-right: 20px;
}

header nav {
	-webkit-flex: 1 1 100%;
	flex: 1 1 100%;
}

nav,
nav ul,
nav li {
	margin: 0;
	padding: 0;
	border: none;
}

nav ul {
	display: -webkit-flex;
	-webkit-flex-direction: column;
	display: flex;
	flex-direction: column;
}

nav li {
	list-style-type: none;
	margin: 1.3em 0;
	-webkit-flex: 1 1 100%;
	flex: 1 1 100%;
}

nav a {
	display: inline-block;
	width: 95%;
	background: #fffbf0;
	border: 1px solid #dfac20;
	margin: 0;
	text-decoration: none;
	text-align: center;
}

nav a:hover {
	background-color: #dfac20;
}

section {
	background: #F1F3F4;
	border-color: slateblue;
}

article {
	background: #ffede0;
	border-color: #df6c20;
}

aside {
	background: #ebf5d7;
	border-color: #8db243;
}

footer {
	background: #e4ebf2;
	border-color: #8a9da8;
	display: -webkit-flex;
	-webkit-flex-flow: row wrap;
	display: flex;
	flex-flow: row wrap;
}

footer * {
	-webkit-flex: 1 1 0%;
	-webkit-justify-content: space-between;
	flex: 1 1 0%;
	justify-content: space-between;
}

footer p {
	text-align: right;
}

#search-submit {
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-mox-box-shadow: 0 0 5px black;

	/* Webkit-transition */
	-webkit-transition-property: background-color;
	-webkit-transition-duration: 0.4s, 0.4s;
	-webkit-transition-timing-function: linear, ease-in;
	}
