#wrapper {
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
}

#header {
  width: auto;
  height: 100px;
  background-color: #6888D2;
  margin-bottom: 5px;
}

#searches {
  width: auto;
  height: 30px;
  background-color: #666699;
  margin-bottom: 5px;
}

#nav {
  width: 200px;
  height: auto;
  background-color: #CCFFFF;
  float: left;
  margin-bottom: 5px;
}

#content {	
  left: 200px;
  width: auto;
  height: auto;
  background-color: #FFFF99;
  overflow: auto;
  margin-left: 5px;
}

#footer {
  width: auto;
  height: 50px;
  background-color: #6888D2;
  clear: both;
}

label {
    font-size: 12pt;
    /* font-weight: bold; */
}
/* funktioniert nicht */
label.search_label {
	color: yellow;
    font-size: 12pt;
    font-weight: bold;
}

.search_textbox {
	left: 20px;
	width: 140px;
	border: 1px solid #3366FF;
	border-left: 4px solid #3366FF;
	background-color : #99FFCC;
}

.search_listbox {
}
